<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.op.dao.CmsCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.mybatis.op.model.CmsCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cata_code" property="cataCode" jdbcType="VARCHAR" />
    <result column="cata_name" property="cataName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cata_code, cata_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cms_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cms_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mybatis.op.model.CmsCategory" >
    insert into cms_category (id, cata_code, cata_name
      )
    values (#{id,jdbcType=INTEGER}, #{cataCode,jdbcType=VARCHAR}, #{cataName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mybatis.op.model.CmsCategory" >
    insert into cms_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cataCode != null" >
        cata_code,
      </if>
      <if test="cataName != null" >
        cata_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cataCode != null" >
        #{cataCode,jdbcType=VARCHAR},
      </if>
      <if test="cataName != null" >
        #{cataName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mybatis.op.model.CmsCategory" >
    update cms_category
    <set >
      <if test="cataCode != null" >
        cata_code = #{cataCode,jdbcType=VARCHAR},
      </if>
      <if test="cataName != null" >
        cata_name = #{cataName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.op.model.CmsCategory" >
    update cms_category
    set cata_code = #{cataCode,jdbcType=VARCHAR},
      cata_name = #{cataName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>